In [1]:
import numpy as np
import pandas as pd

In [2]:
ensg = pd.read_csv("hugo2ensembl.tsv", delimiter='\t')
ensg #the holy grail - has all ensembl id's

          symbol               id
0         ATAD3B  ENSG00000160072
1       DDX11L17  ENSG00000279928
2         PRDM16  ENSG00000142611
3          PEX10  ENSG00000157911
4      LINC01345  ENSG00000226374
...          ...              ...
46756     GARRE1  ENSG00000282735
46757       PRB1  ENSG00000275517
46758       GRK1  ENSG00000281988
46759   TMEM255B  ENSG00000282107
46760  LINC00552  ENSG00000282664

[46761 rows x 2 columns]

In [3]:
duplicate_values_count = ensg['id'].duplicated(keep=False).sum()

print("Number of unique values with duplicates:", duplicate_values_count)

Number of unique values with duplicates: 0

In [4]:
panimmune = pd.read_excel("panimmune.xlsx", sheet_name='Genes')
panimmune #the toolkit - has the diffrent gene sets that

              SetName      Gene
0           IR7_score      C1QA
1           IR7_score     IGLC2
2           IR7_score       LY9
3           IR7_score  TNFRSF17
4           IR7_score      SPP1
...               ...       ...
4720    ICR_ACT_SCORE     PDCD1
4721  ICR_INHIB_SCORE     CTLA4
4722  ICR_INHIB_SCORE     FOXP3
4723  ICR_INHIB_SCORE      IDO1
4724  ICR_INHIB_SCORE     CD274

[4725 rows x 2 columns]

In [5]:
#panimmune = panimmune.drop('SetName', axis=1)

In [6]:
panimmune

              SetName      Gene
0           IR7_score      C1QA
1           IR7_score     IGLC2
2           IR7_score       LY9
3           IR7_score  TNFRSF17
4           IR7_score      SPP1
...               ...       ...
4720    ICR_ACT_SCORE     PDCD1
4721  ICR_INHIB_SCORE     CTLA4
4722  ICR_INHIB_SCORE     FOXP3
4723  ICR_INHIB_SCORE      IDO1
4724  ICR_INHIB_SCORE     CD274

[4725 rows x 2 columns]

In [7]:
duplicate_values_count = panimmune['SetName'].duplicated(keep=False).sum()

print("Number of unique values with duplicates:", duplicate_values_count)

Number of unique values with duplicates: 4716

In [8]:
# Create a boolean mask to identify rows with duplicate values in 'column_name'
duplicates_mask = panimmune['SetName'].duplicated(keep=False)

# Filter the DataFrame to show only the rows with duplicates
df_duplicates = panimmune[duplicates_mask]

# Get a list of all the names (unique values) in 'column_name' that have duplicates
names_with_duplicates = df_duplicates['SetName'].unique()

print("List of names with duplicates:")
print(names_with_duplicates)

List of names with duplicates:
['IR7_score' 'Buck14_score' 'ICS5_score' 'LIexpression_score'
 'Chemokine12_score' 'NHI_5gene_score' 'CD8_CD68_ratio' 'PD1_PDL1_score'
 'Bcell_mg_IGJ' 'Bcell_receptors_score' 'STAT1_score' 'CSF1_response'
 'Module3_IFN_score' 'Module4_TcellBcell_score' 'Module5_TcellBcell_score'
 'Module11_Prolif_score' 'TAMsurr_score' 'TcClassII_score'
 'TAMsurr_TcClassII_ratio' 'IL12_score_21050467' 'IL4_score_21050467'
 'IL2_score_21050467' 'IL13_score_21050467' 'IFNG_score_21050467'
 'TGFB_score_21050467' 'Immune_NSCLC_score' 'Tcell_receptors_score'
 'CHANG_CORE_SERUM_RESPONSE_UP' 'CSR_Activated_15701700'
 'KEGG_HEMATOPOIETIC_CELL_LINEAGE' 'GP11_Immune_IFN' 'IgG_19272155'
 'Interferon_19272155' 'LCK_19272155' 'MHC.I_19272155' 'MHC.II_19272155'
 'STAT1_19272155' 'Troester_WoundSig_19887484' 'MDACC.FNA.1_20805453'
 'IGG_Cluster_21214954' 'Minterferon_Cluster_21214954'
 'ZHANG_INTERFERON_RESPONSE' 'Immune_cell_Cluster_21214954'
 'MCD3_CD8_21214954' 'Interferon_Cluster_21214954' 'B_cell_PCA_16704732'
 'CD8_PCA_16704732' 'GRANS_PCA_16704732' 'LYMPHS_PCA_16704732'
 'T_cell_PCA_16704732' 'TGFB_PCA_17349583' 'Rotterdam_ERneg_PCA_15721472'
 'HER2_Immune_PCA_18006808' 'IL8_21978456' 'IFN_21978456' 'MHC1_21978456'
 'MHC2_21978456' 'Bcell_21978456' 'Tcell_21978456'
 'CD103pos_mean_25446897' 'CD103neg_mean_25446897'
 'CD103pos_CD103neg_ratio_25446897' 'aDC' 'B cells' 'CD8 T cells'
 'Cytotoxic cells' 'DC' 'Eosinophils' 'iDC' 'Lymph vessels' 'Macrophages'
 'Mast cells' 'Neutrophils' 'NK CD56bright cells' 'NK CD56dim cells'
 'NK cells' 'T cells' 'T helper cells' 'Tcm cells' 'Tem cells' 'Tfh cells'
 'Tgd cells' 'Th1 cells' 'Th17 cells' 'Th2 cells' 'Angiogenesis' 'APM1'
 'APM2' 'LYM' 'IFIT3' 'G_GIMAP4' 'G_HLA-DPA1' 'G_SLAMF6' 'G_LILRB4'
 'G_SIGLEC9' 'G_CYTH4' 'G_CD3E' 'ICR_SCORE' 'ICR_ACT_SCORE'
 'ICR_INHIB_SCORE']

In [9]:
value_to_check = 'IR7_score'

rows_with_identical_value = panimmune[panimmune['SetName'] == value_to_check]

rows_with_identical_value

     SetName      Gene
0  IR7_score      C1QA
1  IR7_score     IGLC2
2  IR7_score       LY9
3  IR7_score  TNFRSF17
4  IR7_score      SPP1
5  IR7_score      XCL2
6  IR7_score     HLA-F

In [10]:
value_to_check = 'IR7_score'

first_test_ds = panimmune[panimmune['SetName'] == value_to_check]

first_test_ds

     SetName      Gene
0  IR7_score      C1QA
1  IR7_score     IGLC2
2  IR7_score       LY9
3  IR7_score  TNFRSF17
4  IR7_score      SPP1
5  IR7_score      XCL2
6  IR7_score     HLA-F

In [12]:
first_test_df = pd.merge(ensg, first_test_ds, left_on = 'symbol', right_on = 'Gene', how = 'inner')
first_test_df

      symbol               id    SetName      Gene
0       XCL2  ENSG00000143185  IR7_score      XCL2
1        LY9  ENSG00000122224  IR7_score       LY9
2       C1QA  ENSG00000173372  IR7_score      C1QA
3       SPP1  ENSG00000118785  IR7_score      SPP1
4      HLA-F  ENSG00000204642  IR7_score     HLA-F
5      HLA-F  ENSG00000229698  IR7_score     HLA-F
6      HLA-F  ENSG00000234487  IR7_score     HLA-F
7      HLA-F  ENSG00000137403  IR7_score     HLA-F
8      HLA-F  ENSG00000237508  IR7_score     HLA-F
9      HLA-F  ENSG00000206509  IR7_score     HLA-F
10     HLA-F  ENSG00000235220  IR7_score     HLA-F
11  TNFRSF17  ENSG00000048462  IR7_score  TNFRSF17
12     IGLC2  ENSG00000211677  IR7_score     IGLC2

In [6]:
merged = pd.merge(ensg, panimmune, left_on = 'symbol', right_on = 'Gene', how = 'inner')
merged

       symbol               id     Gene
0      SLC2A5  ENSG00000142583   SLC2A5
1       CLCN6  ENSG00000011021    CLCN6
2      CELA2A  ENSG00000142615   CELA2A
3        RER1  ENSG00000157916     RER1
4      NECAP2  ENSG00000157191   NECAP2
...       ...              ...      ...
5972  KIR2DS5  ENSG00000274563  KIR2DS5
5973  KIR2DS5  ENSG00000275047  KIR2DS5
5974  KIR2DS5  ENSG00000277650  KIR2DS5
5975  KIR2DS5  ENSG00000284217  KIR2DS5
5976    GSTT1  ENSG00000277656    GSTT1

[5977 rows x 3 columns]

In [6]:
#merged.to_excel('ensembl.id.xlsx', index = False)

In [10]:
duplicate_values_count = merged['id'].duplicated(keep=False).sum()

print("Number of unique values with duplicates:", duplicate_values_count)

Number of unique values with duplicates: 3646

In [11]:
# Create a boolean mask to identify rows with duplicate values in 'column_name'
duplicates_mask = merged['id'].duplicated(keep=False)

# Filter the DataFrame to show only the rows with duplicates
df_duplicates = merged[duplicates_mask]

# Get a list of all the names (unique values) in 'column_name' that have duplicates
names_with_duplicates = df_duplicates['id'].unique()

print("List of names with duplicates:")
print(names_with_duplicates)

List of names with duplicates:
['ENSG00000162511' 'ENSG00000028137' 'ENSG00000214114' ...
 'ENSG00000230463' 'ENSG00000196101' 'ENSG00000227442']

In [15]:
value_to_check = 'ENSG00000162511'

rows_with_identical_value = merged[merged['id'] == value_to_check]

rows_with_identical_value

   symbol               id    Gene
5  LAPTM5  ENSG00000162511  LAPTM5
6  LAPTM5  ENSG00000162511  LAPTM5
7  LAPTM5  ENSG00000162511  LAPTM5
8  LAPTM5  ENSG00000162511  LAPTM5
9  LAPTM5  ENSG00000162511  LAPTM5

In [13]:
duplicates = pd.DataFrame(names_with_duplicates, columns=['gene.dupes'])
duplicates

           gene.dupes
0     ENSG00000162511
1     ENSG00000028137
2     ENSG00000214114
3     ENSG00000157193
4     ENSG00000117525
...               ...
1026  ENSG00000227826
1027  ENSG00000231679
1028  ENSG00000230463
1029  ENSG00000196101
1030  ENSG00000227442

[1031 rows x 1 columns]

In [16]:
#duplicates.to_csv('values.with.duplicates', index=False, sep='\t')
#duplicates.to_excel('dupes.xlsx', index = False)

In [ ]:
#############################

In [3]:
import pandas as pd
merged = pd.read_csv('merged_test.tsv', sep='\t')
ensembl = pd.read_csv('ensembl_test.tsv', sep='\t')

In [4]:
merged

,Unnamed: 0,TCGA Participant Barcode,Immune Subtype,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,...,ENSGR0000263980,ENSGR0000264510,ENSGR0000264819,ENSGR0000265658,ENSGR0000270726,ENSGR0000275287,ENSGR0000276543,ENSGR0000277120,ENSGR0000280767,ENSGR0000281849
0,0,TCGA-AF-2690,C2,67.340968,3.861010,68.619450,4.042397,3.486039,8.866385,34.135762,...,0.0,0.000000,0.000000,0.0,0.00000,0.379616,0.0,0.0,0.023266,0.078380
1,1,TCGA-AF-A56L,C1,72.176133,1.317060,109.764702,4.107550,5.631305,2.186673,5.537412,...,0.0,0.152384,0.152384,0.0,0.00000,1.421850,0.0,0.0,0.093862,0.298835
2,2,TCGA-AG-3584,C1,70.212210,0.177565,58.753341,5.938664,5.918852,2.984705,6.697268,...,0.0,0.000000,0.000000,0.0,0.00000,1.020580,0.0,0.0,0.000000,0.139261
3,3,TCGA-AG-3601,C1,134.027741,0.335747,104.354430,3.372053,6.191050,1.420724,3.456341,...,0.0,0.000000,0.000000,0.0,0.00000,0.204979,0.0,0.0,0.000000,0.289848
4,4,TCGA-AG-3605,C1,164.583451,0.033591,45.844470,4.048723,7.798681,1.392328,1.638980,...,0.0,0.000000,0.000000,0.0,0.00000,0.053405,0.0,0.0,0.191173,0.369347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,151,TCGA-EI-6881,C1,82.662816,0.705409,107.908437,6.215024,12.687278,1.897517,4.596240,...,0.0,0.000000,0.000000,0.0,0.00000,0.554103,0.0,0.0,0.023376,0.105248
152,152,TCGA-EI-6885,C1,129.920040,0.509590,101.709160,9.573820,6.022311,4.733056,18.582148,...,0.0,0.000000,0.000000,0.0,0.00000,0.502457,0.0,0.0,0.023764,0.215016
153,153,TCGA-EI-6917,C2,36.913733,0.000000,50.619550,5.468527,7.895639,16.872247,19.472455,...,0.0,0.173539,0.173539,0.0,0.02356,1.022950,0.0,0.0,0.129657,0.321214
154,154,TCGA-F5-6464,C1,22.369909,0.103340,63.955570,8.525736,5.057568,8.489547,19.790402,...,0.0,0.000000,0.000000,0.0,0.00000,0.720086,0.0,0.0,0.035993,0.158718
155,155,TCGA-G5-6641,C1,72.861418,1.926470,44.164214,4.810028,2.900975,0.409042,1.324143,...,0.0,0.000000,0.000000,0.0,0.00000,0.584333,0.0,0.0,0.065351,0.192816

In [5]:
ensembl

      Unnamed: 0                        id
0              0           ENSG00000142583
1              1           ENSG00000011021
2              2           ENSG00000142615
3              3           ENSG00000157916
4              4           ENSG00000157191
...          ...                       ...
5974        5974           ENSG00000277650
5975        5975           ENSG00000284217
5976        5976           ENSG00000277656
5977        5977            Immune Subtype
5978        5978  TCGA Participant Barcode

[5979 rows x 2 columns]

In [6]:
ensemblIDs = set(ensembl['id'])
cols = list(merged.columns)
newCols = [a for a in cols if a in ensemblIDs]
finalCols = cols[0:3]
finalCols.extend(newCols)

final_merged = merged[finalCols]

In [7]:
final_merged

,Unnamed: 0,TCGA Participant Barcode,Immune Subtype,TCGA Participant Barcode,Immune Subtype,ENSG00000000460,ENSG00000000938,ENSG00000001617,ENSG00000001629,ENSG00000002549,...,ENSG00000275395,ENSG00000276141,ENSG00000276566,ENSG00000277443,ENSG00000277586,ENSG00000277632,ENSG00000277734,ENSG00000277791,ENSG00000281026,ENSG00000282458
0,0,TCGA-AF-2690,C2,TCGA-AF-2690,C2,3.486039,8.866385,10.838027,7.832866,97.306186,...,1.871520,0.815441,18.801100,53.896800,0.148598,20.307190,76.407990,170.324101,0.525734,14.204697
1,1,TCGA-AF-A56L,C1,TCGA-AF-A56L,C1,5.631305,2.186673,6.402137,9.626958,53.518390,...,5.164520,0.689022,0.205323,47.908600,0.111318,5.405118,13.461986,219.941415,0.944355,52.287951
2,2,TCGA-AG-3584,C1,TCGA-AG-3584,C1,5.918852,2.984705,8.980217,10.301090,78.544351,...,51.123400,1.457974,0.518316,20.671700,0.096963,5.602690,21.016090,314.411641,0.378821,37.006640
3,3,TCGA-AG-3601,C1,TCGA-AG-3601,C1,6.191050,1.420724,8.649745,6.548295,69.481929,...,2.492790,0.288749,0.000000,34.500400,0.028272,7.374076,7.922660,418.559295,0.137976,8.187313
4,4,TCGA-AG-3605,C1,TCGA-AG-3605,C1,7.798681,1.392328,10.179046,5.545185,29.388915,...,11.906400,0.459518,2.159570,16.312425,0.026905,8.475510,11.737830,239.257640,0.225795,7.629336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,151,TCGA-EI-6881,C1,TCGA-EI-6881,C1,12.687278,1.897517,23.055082,13.335848,56.827883,...,30.798900,0.538192,1.357680,63.782300,0.004756,9.238772,14.140667,202.656842,0.864182,42.358921
152,152,TCGA-EI-6885,C1,TCGA-EI-6885,C1,6.022311,4.733056,16.842774,16.205205,78.565436,...,1.398946,0.815339,3.551250,57.507900,0.068818,41.207123,20.910889,168.310828,0.354028,42.622903
153,153,TCGA-EI-6917,C2,TCGA-EI-6917,C2,7.895639,16.872247,8.545201,13.285487,127.246808,...,2.912312,1.223557,1.347520,37.821900,0.083342,31.831292,36.930345,203.798250,0.598262,35.801269
154,154,TCGA-F5-6464,C1,TCGA-F5-6464,C1,5.057568,8.489547,17.449843,16.796794,118.079762,...,0.488765,1.209700,0.461065,88.637600,0.519037,26.000692,68.086220,158.756637,0.376171,23.947813
155,155,TCGA-G5-6641,C1,TCGA-G5-6641,C1,2.900975,0.409042,15.249300,9.294225,32.645413,...,177.452302,0.320741,0.000000,62.146559,2.617967,0.456776,2.092770,224.490781,0.560346,19.683284

In [28]:
final_df = final_df.iloc[:, 3:]

In [29]:
final_df

,TCGA Participant Barcode,Immune Subtype,ENSG00000000460,ENSG00000000938,ENSG00000001617,ENSG00000001629,ENSG00000002549,ENSG00000002726,ENSG00000002933,ENSG00000003147,...,ENSG00000275395,ENSG00000276141,ENSG00000276566,ENSG00000277443,ENSG00000277586,ENSG00000277632,ENSG00000277734,ENSG00000277791,ENSG00000281026,ENSG00000282458
0,TCGA-AF-2690,C2,3.486039,8.866385,10.838027,7.832866,97.306186,38.557035,164.169416,31.953460,...,1.871520,0.815441,18.801100,53.896800,0.148598,20.307190,76.407990,170.324101,0.525734,14.204697
1,TCGA-AF-A56L,C1,5.631305,2.186673,6.402137,9.626958,53.518390,27.434491,55.339664,43.151407,...,5.164520,0.689022,0.205323,47.908600,0.111318,5.405118,13.461986,219.941415,0.944355,52.287951
2,TCGA-AG-3584,C1,5.918852,2.984705,8.980217,10.301090,78.544351,219.993227,559.692107,23.877001,...,51.123400,1.457974,0.518316,20.671700,0.096963,5.602690,21.016090,314.411641,0.378821,37.006640
3,TCGA-AG-3601,C1,6.191050,1.420724,8.649745,6.548295,69.481929,73.795210,229.359941,65.414951,...,2.492790,0.288749,0.000000,34.500400,0.028272,7.374076,7.922660,418.559295,0.137976,8.187313
4,TCGA-AG-3605,C1,7.798681,1.392328,10.179046,5.545185,29.388915,28.912625,370.194732,43.886209,...,11.906400,0.459518,2.159570,16.312425,0.026905,8.475510,11.737830,239.257640,0.225795,7.629336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,TCGA-EI-6881,C1,12.687278,1.897517,23.055082,13.335848,56.827883,91.682706,358.123157,52.646290,...,30.798900,0.538192,1.357680,63.782300,0.004756,9.238772,14.140667,202.656842,0.864182,42.358921
152,TCGA-EI-6885,C1,6.022311,4.733056,16.842774,16.205205,78.565436,54.544180,57.417837,63.992123,...,1.398946,0.815339,3.551250,57.507900,0.068818,41.207123,20.910889,168.310828,0.354028,42.622903
153,TCGA-EI-6917,C2,7.895639,16.872247,8.545201,13.285487,127.246808,2.279281,63.893499,33.072875,...,2.912312,1.223557,1.347520,37.821900,0.083342,31.831292,36.930345,203.798250,0.598262,35.801269
154,TCGA-F5-6464,C1,5.057568,8.489547,17.449843,16.796794,118.079762,59.797677,68.669178,63.058604,...,0.488765,1.209700,0.461065,88.637600,0.519037,26.000692,68.086220,158.756637,0.376171,23.947813
155,TCGA-G5-6641,C1,2.900975,0.409042,15.249300,9.294225,32.645413,177.079247,175.253307,74.087344,...,177.452302,0.320741,0.000000,62.146559,2.617967,0.456776,2.092770,224.490781,0.560346,19.683284

In [30]:
value_counts = final_df['Immune Subtype'].value_counts()

print(value_counts)

C1    127
C2     18
C3      9
C4      1
C6      1
Name: Immune Subtype, dtype: int64